.school-container {
	display: grid;
	grid-template-areas:
		'logo header'
		'logo desc';
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	height: auto;

	@media (max-width: 700px) {
		display: flex;
		flex-direction: column;
		place-content: center;
		margin-top: 20px;

		.desc {
			text-align: center;
		}
	}

	.logo {
		grid-area: logo;
		width: 60px;
		height: 60px;
	}

	.header {
		grid-area: header;
		margin: 0;
		text-align: left;
	}

	.desc {
		grid-area: desc;
		margin: 0;
	}
}
